#spotDetails {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    flex-direction: column;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spotName {
    display: flex;
}

.imgs {
    display: flex;
}

.mainImage {
    width: 500px;
    height: 310px;
    border-radius: 2px;
    border: 2px solid black;
    margin-top: 3px;
}

.extras {
    display: flex;
    /* border: 2px solid black; */
    border-radius: 2px;
}

.otherImages {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 300px;
    width: fit-content
}

.moreImages {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 300px;
    width: fit-content
    /* margin-left: 10px */
}

.text-button {
    display: flex;
    border-bottom: 2px solid black;
}

.details {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: none;
}
.description {
    /* border: 1px solid orange; */
    padding-right: 25px;
    margin-top: -10px;
    width: 620px
}
.reserve {
    display: inline-flex;
    border: 3px solid black;
    border-radius: 20px;
    flex-direction: column;
    width: 350px;
    margin-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    background-color: white;
}

.notButton {
    display: flex;
}

.reservationInfo {
    display: flex;
    width: 350px;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin: 0px 20px 0px 20px;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
}

#additionalImg {
    display: flex;
    width: 240px;
    height: 150px
}



.reviewInfo {
    display: flex;
    flex-direction: row;
    /* border: 1px solid yellow; */
}


.reviewInfo .fa-solid.fa-star {
    margin-top: 5px;
}

.numRevs {
    display: flex;
    align-items: center;
    /* margin-bottom: 1px; */
    padding-left: 10px;
}

.reserveButton {
    display: flex;
    width: 250px;
    margin-left: 50px;
    cursor: pointer;
    justify-content: center;
    color: white;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    padding: 12px 0px 12px 0px;
    background-color: #FF5A5A;
}

.extra1 {
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
}

.extra2 {
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
}

.extra3 {
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
}

.extra4 {
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
}



/* .location {
    margin-top: -16px;
    padding-bottom: 15px;
} */


.location {
    width: 600px;
    margin-top: -16px;
    padding-bottom: 15px;
}

.dot {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
}
