


.reviewHeader {
    /* outline: 3px solid red; */
    display: inline-flex;
    align-content: center;
    align-items: center;
    height: 40px;
    padding-right: 20px;
}


.revHeader .fa-solid.fa-star {
    padding-top: 0px;
}


.reviewLabel {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 2px;
}


/* .button {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 4px 8px 4px 8px;
    background-color: #414143;
    margin-bottom: 3px;
    color: white;
} */


.avgRate {
    padding-right: 8px;
    font-weight: bold;
}


.reviewsNumber {
    padding-left: 8px;
    font-weight: bold;
    gap: 10px
}


.reviewAmount {
    padding-left: 5px;
    font-weight: bold;
}


.singleReview {
    /* outline: 2px solid yellow; */
    margin-bottom: 20px;
    font-family: sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    width: fit-content;
    padding: 8px 8px 8px 8px
}


.reviewText {
    border: 1px solid black
}


.userDisplay {
    font-weight: bold;
    font-size: 20px;
}


.date {
    display: inline-flex;
    gap: 5px;
    font-size: 16px;
    color: gray
}










.reviewText {
    font-size: 16px;
}


/* .firstRev {
    font-family: sans-serif;
    font-size: 18px;
} */
