.deleteCont {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    align-content: center;
    align-items: center;
    /* border: 3px solid black; */
    border-radius: 15px;
    font-family: sans-serif;
}

.deleteReview {
    color: white;
    background-color: #96BDC8;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    width: 290px;
    padding: 8px 12px 8px 12px;
}

.cancel {
    color: white;
    background-color: #414143;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    width: 290px;
    margin-top: 10px;
    padding: 8px 12px 8px 12px;
}

.deleteReview:hover {
    cursor: pointer;
}

.cancel:hover {
    cursor: pointer;
}

.confirmDelete {
    margin-bottom: 0px;
}
