.profile-dropdown.hidden {
    display: none;
}


.profile-dropdown {
    position: fixed;
    right: 28px;
    /* padding-top:20px; */
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    align-items: center;
    padding: 5px 5px 5px 5px
}


html {
    background-color: #FFF7F1;
    font-family: sans-serif;
}


.navBar {
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 8px 6px -6px #96BDC8;
}


.toHome {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #96BDC8;
    padding-top: 8px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.menu {
    display: inline-flex;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: #96BDC8;
}


.fa-solid.fa-bars {
    padding-right: 5px
}


.buttonContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
}


.createSpot {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    background-color: lightblue;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.spotmenublob {
    display: inline-flex;
}
