.updateSpotForm {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
    font-family: sans-serif;
}

.udtHeader {
    display: flex;

}

#inputUpdate {
    display: flex;
    width: 350px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 3px;
    background-color: #D6E8EC;
}

.descriptionUpdate {
    height: 180px
}

.priceInput {
    display: inline-flex;
    width: 340px !important;
    margin-left: 4px;
}

.priceDiv {
    display: inline-flex;
    align-items: center;
}

.locaInputs {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: bold;
}

.locaUpdate {
    padding-bottom: 35px;
    border-bottom: 2px solid black;
}

.uas {
    display: flex;
    width: 350px;
    margin-top: 20px;
    justify-content: center;
    margin-left: 5px;
    padding: 12px 0px 12px 0px;
    color: white;
    background-color: #FF5A5A;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    margin-bottom: 20px;
}

.uas:hover {
    cursor: pointer;
}
